
// RESOURCES


// COLORS

$White: hsl(0, 0%, 100%);
$LigthGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$Blue: hsl(213, 19%, 18%);
$DarkBlue: hsl(216, 12%, 8%);
$Orange: hsl(25, 97%, 53%);

// FONTS

.overpass400 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: #{$White};
}

.overpass700 {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    color: #{$White};
}

